.video-cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.video-cards > ul > li {
  border-radius: 16px;
  overflow: hidden;
  background-color: var(--color-brand-purple-light);
}

.video-cards .video-cards-poster {
  line-height: 0;
}

.video-cards .video-cards-poster img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.video-cards .video-cards-title {
  padding: 16px 24px 0;
}

.video-cards .video-cards-title h3 {
  font-family: var(--font-family-heading);
  font-size: var(--heading-font-size-l);
  color: var(--color-brand-purple);
  text-transform: uppercase;
  margin: 0;
  line-height: 1.1;
}

.video-cards .video-cards-description {
  padding: 8px 24px;
}

.video-cards .video-cards-description p {
  font-family: var(--font-family-body);
  font-size: var(--body-font-size-xs);
  color: var(--color-text-primary);
  line-height: 1.4;
  margin: 0;
}

.video-cards .video-cards-link {
  padding: 0 24px 20px;
}

.video-cards .video-cards-link a {
  color: var(--color-link);
  font-weight: 800;
  font-size: var(--body-font-size-s);
  text-decoration: underline;
}

@media (width >= 900px) {
  .video-cards > ul {
    flex-direction: row;
    align-items: stretch;
  }

  .video-cards > ul > li {
    flex: 1;
  }
}
