.hero-home-container .hero-home-wrapper {
  max-width: unset;
  padding: 0;
}

.hero-home {
  position: relative;
  display: flex;
  overflow: hidden;
}

.hero-home .hero-home-bg {
  width: 100%;
  line-height: 0;
}

.hero-home .hero-home-bg img {
  width: 100%;
  height: auto;
  display: block;
}

.hero-home > div:last-child {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  padding: 0;
}

.hero-home .hero-home-content {
  max-width: 1000px;
  padding: 75px 0 0;
  margin: 20px;
  text-align: left;
}

.hero-home p {
  font-family: lato, sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  line-height: normal;
  margin: 0 0 20px;
}

.hero-home h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 56px;
  font-weight: 400;
  color: #fff;
  line-height: 0.9;
  letter-spacing: normal;
  margin: 0 0 20px;
}

.hero-home p:last-child a,
.hero-home a.button {
  font-family: lato, sans-serif;
  font-size: 14.4px;
  font-weight: 800;
  color: rgb(66 46 131);
  background-color: rgb(250 166 51);
  border-radius: 16px;
  padding: 16px 32px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  line-height: normal;
  border: none;
  transition: background-color 0.2s;
}

.hero-home p:last-child a:hover,
.hero-home a.button:hover {
  background-color: rgb(230 146 31);
}

@media (width >= 900px) {
  .hero-home p {
    font-size: 16px;
  }
}

@media (width < 900px) {
  .hero-home .hero-home-content {
    padding: 40px 0 0;
  }

  .hero-home h1 {
    font-size: 36px;
    line-height: 0.9;
  }
}
